.item {
  height: 90px;

  &:nth-child(odd) {
    background-color: #f0f0f0;
  }
}

@keyframes flickerAnimation {
  0%   { opacity:1; }
  50%  { opacity:0; }
  100% { opacity:1; }
}
@-webkit-keyframes flickerAnimation{
  0%   { opacity:1; }
  50%  { opacity:0; }
  100% { opacity:1; }
}
.animate-flicker {
   -webkit-animation: flickerAnimation 1.5s infinite;
    animation: flickerAnimation 1.5s infinite;
}
